---
---
<!DOCTYPE html>
<html lang="en">

  <head>
    {% include analytics.html %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Qoncept, Inc.">

    <title>QHOME</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">

    <link rel="icon" type="image/png" href="img/favicon.png">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="img/brand.png" alt="QHOME" /></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#features">特徴</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#download">ダウンロード</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#builders">事業者の方へ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#import">モデルのインポート</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#clients">採用実績</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#company">Qonceptについて</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">QHOME</div>
          <div class="intro-heading">間取りを歩こう</div>
          <a class="btn btn-xl js-scroll-trigger" href="#features">もっと見る</a>
        </div>
      </div>
    </header>

    <!-- Features -->
    <section id="features">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">特徴</h2>
            <h3 class="section-subheading text-muted">QHOMEでできること</h3>
          </div>
          <div class="qh-video col-sm-12 text-center">
            <iframe src="https://www.youtube.com/embed/v8LL3gRAq7k?controls=0&amp;showinfo=0&amp;&amp;rel=0" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4">
            <h4 class="feature-heading">広さを体感する</h4>
            <p class="text-muted">間取り図や 3D で再現された部屋を見ても広さをイメージするのは困難です。 QHOME を使えば <a data-toggle="popover" data-placement="bottom" title="VR" data-content="Virtual Reality （仮想現実）。ユーザーの視覚や聴覚などの五感を刺激することで、現実には存在しない仮想の空間にいるかのように知覚させる技術。"><strong>VR</strong></a> で、 3D モデルの中を自分の足で歩いて確認できます。 iPhone 一つあれば使えるので、自宅で歩いて広さを比較することも可能です。</p>
          </div>
          <div class="col-md-4">
            <h4 class="feature-heading">景色を眺める</h4>
            <p class="text-muted">リビングからの眺めは想像通りでしょうか。家が建ってから、もう少し窓が大きければよかった、位置をずらせばよかった、そんなことにならないように現地で <a data-toggle="popover" data-placement="bottom" title="VR" data-content="Augmented Reality （拡張現実）。現実の映像に仮想の物体を CG 等で重ねて表示することによって、現実には存在しない物体があたかも実在するかのように知覚させる技術。"><strong>AR</strong></a> を用いて窓からの眺めをシミュレーションできます。</p>
          </div>
          <div class="col-md-4">
            <h4 class="feature-heading">空間を確認する</h4>
            <p class="text-muted">たとえば、吹き抜けを見下ろしたとき、キッチンからリビングを眺めたとき、どのように見えるかイメージできますか。 QHOME なら 3D モデルの中を移動して、好きな場所・角度から見え方を確認することができます。</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Download -->
    <section class="bg-light" id="download">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">ダウンロード</h2>
            <h3 class="section-subheading text-muted">iPhone / iPadでご利用いただけます</h3>
          </div>
        </div>
        <div class="row">
          <div class="qh-button col-md-12 col-sm-12">
            <p><img src="img/app-store.png" /></p>
            <!-- <p>iOS 11 以降、 ARKit 必須</p> -->
            <p>Coming Soon...</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Builders -->
    <section id="builders">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">事業者の方へ</h2>
            <h3 class="section-subheading text-muted">事業の中でQHOMEをご利用いただく方法</h3>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-6">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-usd fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="feature-heading">無料でご利用いただけます</h4>
            <p class="text-muted">QHOME を利用するために専用機器や利用料は必要ありません。無料アプリを<a class="js-scroll-trigger" href="#download">ダウンロード</a>してご利用下さい。すでに実際の現場で <a class="js-scroll-trigger" href="#clients">QHOME をご利用いただくことが決定しています</a>。</p>
          </div>
          <div class="col-md-6">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-home fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="feature-heading">既存のデータが利用可</h4>
            <p class="text-muted">ご利用の 3D モデリングソフトウェアや 3D CAD から COLLADA (.dae) 形式でデータをエクスポートすることができれば、既存データをそのままご利用いただけます。<a class="js-scroll-trigger" href="#import">こちらの手順</a>でアプリにデータを取り込んで下さい。</p>
          </div>
          <div class="col-md-6">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="feature-heading qh-no-transform">iPhone / iPad で実行</h4>
            <p class="text-muted">QHOME は <a data-toggle="popover" data-placement="bottom" title="ARKit対応機種" data-content="iPhone 6s, iPhone 6s Plus, iPhone 7, iPhone 7 Plus, iPhone SE, iPad Pro (9.7, 10.5, 12.9-inch), iPad (5th generation)">ARKit に対応した iPhone または iPad</a> で実行できます。お客様の iPhone にもインストールできるので、ご自宅で実行していただき、今お住いのお部屋と広さを比較していただくこともできます。</p>
          </div>
          <div class="col-md-6">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-share fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="feature-heading">お客様にデータを共有</h4>
            <p class="text-muted">アプリからアプリへ、 <a href="https://support.apple.com/ja-jp/HT204144">AirDrop</a> を使って直接データを共有することができます。お客様との打ち合わせの際にアプリをインストールいただき、 AirDrop でデータをお渡し下さい。</p>
          </div>
        </div>
        <div class="row">
          <div class="text-center col-md-12 col-sm-12">
            <a class="btn btn-xl" href="mailto:contact@qoncept.co.jp">お問い合わせはこちら</a>
          </div>
        </div>
      </div>
    </section>

    <!-- Import -->
    <section class="bg-light" id="import">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">モデルのインポート</h2>
            <h3 class="section-subheading text-muted">アプリにモデルデータを取り込む</h3>
          </div>
        </div>
        <div class="row text-center">
          <div class="qh-item col-md-6">
            <div>
              <img src="img/import/modeling.png" alt="Modeling" />
            </div>
            <h4 class="feature-heading">1. COLLADAファイルをエクスポート</h4>
            <p class="text-muted">3D モデルを COLLADA (.dae) 形式で作成して下さい。多くの 3D モデリングソフトウェアは、 COLLADA 形式でモデルをエクスポートすることができます。</p>
          </div>
          <div class="qh-item col-md-6">
            <div>
              <img src="img/import/conversion.png" alt="Converting models" />
            </div>
            <h4 class="feature-heading">2. QHOME用にデータを変換</h4>
            <p class="text-muted">{% include qhome-maker-link.html %} を使って COLLADA から QHOME 用のファイルを生成します。 COLLADA ファイルをドラッグ・アンド・ドロップするだけです（現状では Mac が必要です）。</p>
          </div>
          <div class="qh-item col-md-6">
            <div>
              <img src="img/import/import.png" alt="Importing models" />
            </div>
            <h4 class="feature-heading">3. QHOMEにモデルをインポート</h4>
            <p class="text-muted"><a href="https://support.apple.com/ja-jp/HT204144">AirDrop</a> か <a href="https://support.apple.com/ja-jp/HT201301">iTunesファイル共有</a> を使って QHOME アプリに QHOME ファイルを取り込みます。一度 QHOME アプリに取り込んだモデルは、モデルの設定画面から AirDrop を用いて QHOME アプリ間で直接受け渡しできます。</p>
          </div>
          <div class="qh-item col-md-6">
            <div>
              <img src="img/import/settings.png" alt="Settings" />
            </div>
            <h4 class="feature-heading">4. モデルの設定</h4>
            <p class="text-muted">QHOME アプリに取り込まれたモデルをアプリ上の設定画面から設定します。初期位置や向き、座標系の単位などを設定して下さい。</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Clients -->
    <section id="clients">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">採用実績</h2>
            <h3 class="section-subheading text-muted"></h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-4">
            <a href="http://www.fukuda-lld.jp/">
              <img class="img-fluid d-block mx-auto" src="img/logos/fukuda-lld.png" alt="FUKUDA LONG LIFE DESIGN Co.,Ltd.">
            </a>
          </div>
          <div class="col-sm-4"></div>
        </div>
      </div>
    </section>

    <!-- Company -->
    <section class="bg-black" id="company">
      <div class="container">
        <div class="row">
          <div class="qh-logo col-lg-12 text-center">
            <h2 class="section-heading"><img src="img/qoncept-logo-white.png" alt="Qoncept" /></h2>
          </div>
          <div class="col-lg-8 mx-auto text-center">
            <h3 class="section-subheading text-muted">Qoncept（コンセプト）は大阪大学での研究に端を発するベンチャー企業で、コンピュータビジョン、特にリアルタイム画像認識に強みを持ちます。 AR やスポーツの国際大会、テレビの生放送、ドローンの自動操縦、インフラ点検、宇宙探査など、幅広い分野に画像認識技術を提供しています。</h3>
          </div>
          <div class="qh-video col-sm-12 text-center">
            <iframe src="https://www.youtube.com/embed/videoseries?version=3&amp;list=PL3LEMl0QsOt_49eq1dUCEVyGXw2DSZWbZ&amp;rel=0&amp;showinfo=0&amp;controls=0&amp;autohide=1" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="row">
          <div class="qh-button col-md-12 col-sm-12">
            <a class="btn btn-xl" href="http://qoncept.co.jp/">WEBサイトを開く</a>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <ul class="list-inline quicklinks">
              <li class="list-inline-item">
                <!-- <a href="http://qoncept.co.jp/ja/privacy-policy.html">Privacy Policy</a> -->
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="mailto:contact@qoncept.co.jp">
                  <i class="fa fa-envelope"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <span class="copyright">Copyright &copy; <a href="http://qoncept.co.jp/">Qoncept</a> 2017</span>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/agency.min.js"></script>
    <script>
      $(function () {
        $('[data-toggle="popover"]').popover({html: true})
      });
    </script>
  </body>

</html>
